*{
    margin:0 auto;
    padding:0 auto;
    border:none;
    outline: none;
    font-family: sans-serif;
}
.container{
    width:400px;
    height:min-content;
    background-color: white;
    border-radius:12px ;
    padding: 28px;
    margin-block:100px ;
}
.search-box{
    width:100%;
    height: 40px;
    justify-content:space-between;
    align-items: center;
    display: flex ;
  
    
  
}
.search-box input{
    font-size: 20px;    
    background-color:whitesmoke;
    padding: 12px 16px;
    border-radius: 12px

}
.search-box ::placeholder{
    color: black;

}
.search-box button{
    height: 46px;
    width:46px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color:whitesmoke;
}
.search-box button:hover{
    color:white;
    background-color: grey;
}
.weather-body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 10px;
}
.weather-box{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    position: relative;
    
}
.weather-box .temperature sup{
    font-size: 20px;
    font-weight: 600;
    position:absolute ;

}
.weather-box .description{
    font-size: 20px;
    font-weight: 700;
}

.weather-body img{
    width:80%;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:30px ;
    font-size: 18px;
}
.humidity ,.wind{
    display:flex;
    align-items: center;  
}
.weather-details i{
    font-size: 36px;
}
.weather-details span{
    font-weight: 700;
}


body{
    width:250px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-image:url(background.jpg);
    overflow: hidden;
    background-position:cover;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
}